body{
    background-color: rgb(96, 223, 255);
}

div{
    max-width: 1200px;

}
img {
    align-self: center;
}



h2, h3, p, li, table{
    font-family: cursive;
    font-size: 1rem;
    font-weight: 1.6rem;
    color: deeppink;

}

h1{
    font-family:cursive;
    color: deeppink;
    font-size: 2rem;
    text-align: center;
    float: right;
}
