h1 {
    text-align: center;
}
body{
    background-color: rgb(97, 151, 250);
}

div{
    max-width: 1000px;

}



h2, h3, p, li{
    font-family: cursive;
    font-size: 1rem;
    font-weight: 1.6rem;

}

h1{
    font-family:cursive;
    color: rgb(255, 251, 9);
    font-size: 2rem;
    text-align: center;
}
