h1 {
    text-align: center;
}
body{
    background-color: rgb(97, 151, 250);
}


h2, h3, p, li{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}
