    #wrapper {
        max-width: 1400px;
    }

    header{
        padding:2em;
        background-color: #000;
        
         }
         body{
            background-image: url("images/tanjiro.webp");
         }
    
