
body{background-color: black;}
h2{color: white;}

    
    #wrapper {
         max-width: 1440px;
          }

    
     nav ul {
        float: left;
        margin-left: 1px; 
        margin-top: 350px;
     }

     nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 8px;
        line-height: 50px;
     }
     
      nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        padding: 6px 13px;
        transition: 0.4s all ease-in-out;
}

     nav ul li a.active,
     nav ul li a:hover {
        background: #fdad00fb;
        color: #fff;
        transition: 0.4s all ease-out;
    }

     .banner {
        
        margin-bottom: 200px; 
        
        
    }

    #logo{
    margin-bottom: 1100px;




    }
