    #wrapper {
        max-width: 1400px;
    }

    header{
        background-image: url("Muzan.jpg" width="726" height="193");
        background-size: contain;
        background-position: top;
        
    }
    #main nav ul {
        float: left;
        margin-left: 20px;
        margin-top: 20px;
    }

    #main nav ul li {
        list-style-type: none;
        display: inline-block;
        margin: 0 8px;
        line-height: 50px;
     }
